.btn {
	margin: 10px;
	 font-size: 15px;
    border-radius: 0rem !important;
	color: #0d47a1 !important;
      border-color: #0d47a1 !important;

}

.search{
    background: #0d47a1 !important;
    color: #fff !important;
    margin: 0px !important;
	height: 39.15px !important;
	border-radius: 2px!important;  
    
  }