<nav class="navbar navbar-light bg-stanbic">
  <div class="nav-wrapper">
    <a routerLinkclass="brand-logo left">
      <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down menuText">

      <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey! {{username}}
        </a></li>

        <li class="active">
          <a><span class="lnr lnr-plus-circle" style="font-size: 20px;"></span>&nbsp;
            Add Record</a>
        </li>

        <li (click)="dashboard()">
          <a><span class="lnr lnr-menu-circle" style="font-size: 20px;"></span>&nbsp;
            Dashboard</a>
        </li>
        
        <li>
          <a (click)="apps()"><span class="lnr lnr-screen" style="font-size: 20px;"></span>
          My Apps</a>
       </li>

      <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
          Logout</a></li>

    </ul>
  </div>
</nav>

<br>
<br>

<div class="container" style="line-height: 0px;">
  <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="navigation=='1'">Customer Info</p>
  <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="navigation=='2'">Covenant Info</p>
  <div class="progress">
    <div class="determinate" style="width: 50%" id="prog"></div>
  </div>

  <span class="account_info" style="margin-top: 3%;">A few minutes away!</span>

  <div *ngIf="navigation=='1'" style="margin-top: 4.5%;">
    <p>Enter  CIF<b style="color: #ff0000;">*</b></p>
    <div class="row">
      <div class="col l3">
        <input type="text" class="form_input_custom input_required validate" [(ngModel)]="cifModel.cif" name="cif">
      </div>
      <div class="col l3">
        <button type="button" class="btn waves-light search" *ngIf="!loading" (click)="accInfo()"><i class="small material-icons">search</i></button>

        <div class="col s12" style="margin-top: 10px !important;" *ngIf="loading">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-stanbic-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div> 
    
    <div class="row" *ngIf="navigation=='1' && accVerify">
      <div class="col l3">
        Name of Counterparty
      </div>
      <div class="col l3">
          Relationship Manager
      </div>
      <div class="col l3">
          Manager ID 
      </div>
    </div>

    <div class="row" *ngIf="navigation=='1' && accVerify" >
        <div class="col l3">
            <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.nameOfCounterparty" name="nameOfCounterparty">
        </div>
        <div class="col l3">
            <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.rm" name="rm">
        </div>
        <div class="col l3">
            <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.rmCode" name="rmCode">
        </div>
    </div>


  </div>

  <div *ngIf="navigation=='2'">
      <div class="row" style="margin-top: 3%;">
        <div class="col l3">
          Suite<b style="color: #ff0000;">*</b>
          </div>
        <div class="col l2">
          Frequency<b style="color: #ff0000;">*</b> 
        </div>

    

        <div class="col l2" *ngIf="quaterDiv">
          {{skipLabel}}<b style="color: #ff0000;">*</b> 
        </div>

        <div class="col l2" *ngIf="dateDiv">
         Due Date<b style="color: #ff0000;">*</b> 
        </div>

        <div class="col l2">
            Time Allowed<b style="color: #ff0000;">*</b>
          </div>
      
      </div>

      <div class="row">
          <div class="col l3">
              <select class="browser-default" [(ngModel)]="covInfoObj.covInfo.suite" name="suite">
                  <option value="" disabled selected></option>
                  <option value="TAMALE">TAMALE</option>
                  <option value="ACCRA NORTH">ACCRA NORTH</option>
                  <option value="ACCRA SOUTH">ACCRA SOUTH</option>
                  <option value="ACCRA EAST">ACCRA EAST</option>
                  <option value="TAKORADI">TAKORADI</option>
                  <option value="ASHANTI-BONO">ASHANTI-BONO</option>
                  <option value="ENTERPRISE">ENTERPRISE</option>
                  <option value="PERSONAL MARKET">PERSONAL MARKET</option>
                  <option value="AGRIC/PUBLIC">AGRIC/PUBLIC</option>

              </select>
          </div>
          <div class="col l2">
              <select class="browser-default" [(ngModel)]="covInfoObj.covInfo.frequency" name="frequency"  (ngModelChange)="frequency($event)" (blur)="getExpiryDate()" >
                  <option value="" disabled selected></option>
                  <option value="One-Off" >One-Off</option>
                  <option value="Weekly" >Weekly</option>
                  <option value="Monthly" >Monthly</option>
                  <option value="Quarterly" >Quarterly</option>
                  <option value="Half-Yearly" >Half Yearly</option>
                  <option value="Yearly" >Yearly</option>
              </select>
          </div>

         

          <div class="col l2" *ngIf="quaterDiv">
            <p class="radio-options">
              <label>
                <input class="with-gap" name="status" type="radio" id="active" value="Y" [(ngModel)]="statusModel.status" (ngModelChange)="statusChange($event)" />
                <label for="active">Yes</label>
              </label>
      
              <label style="margin-left: 20px;">
                <input class="with-gap" name="status" type="radio" id="completed" value="N" [(ngModel)]="statusModel.status"  (ngModelChange)="statusChange($event)"/>
                <label for="completed">No</label>
              </label>
            </p>
          </div>
          <div class="col l2"  *ngIf="dateDiv">    
            <input type="text" [(ngModel)]="covInfoObj.covInfo.nextdue" name="nextdue" class="form_input_custom datepicker input_required freq"
            materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date.." (blur)="getExpiryDate()"  required>
        </div>

        <div class="col l2">    
            <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.timeAllowed" name="timeAllowed" (keyup)="getExpiryDate()" (keydown)="getExpiryDate()" (blur)="getExpiryDate()" >
        </div>
          
         
      </div>

    

      <div class="row" style="margin-top: 1%;">

          <div class="col l3">
              Expiry Date<b style="color: #ff0000;">*</b>
            </div>


          <div class="col l4">
            Monitoring Requirement<b style="color: #ff0000;">*</b>
            </div>
          

          <div class="col l3">
            Notifications to?<b style="color: #ff0000;">*</b>
          </div>

         
      </div>
             
 
      <div class="row">
          <div class="col l3">
              <input type="text" class="form_input_custom input_required validate avoid_click" [(ngModel)]="expiryDate" name="expiryDate">
              </div>

          <div class="col l4">
              <select name="monRequirement" [(ngModel)]="covInfoObj.covInfo.monRequirement" class="browser-default" >
                  <option value="" disabled selected></option>
                  <option *ngFor="let varrequirements of requirements" value="{{varrequirements.name}}">{{varrequirements.name}}</option>
                </select>
              <!-- <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.monRequirement" name="monRequirement"
               materialize="autocomplete" [materializeParams]="[autocompleteInit]"  > -->
          </div>

         

          <div class="col l3">
            <label>
              <input id="rm" type="checkbox" [(ngModel)]="rmValue" class="filled-in" name="rm"/>
              <label for="rm">RM</label>
            </label>
            &nbsp;&nbsp;
            <label>
              <input id="customer" type="checkbox"  [(ngModel)]="customerValue" class="filled-in" name="customer" (click)="checkRm()"/>
              <label for="customer">Customer</label>
            </label>
          </div>

         
      </div> 

        <div class="row" style="margin-top: 1%;">
          <div class="col l3">
            Covenant<b style="color: #ff0000;">*</b>
          </div>
      </div> 

      <div class="row">
          <div class="col l10">
              <input type="text" class="form_input_custom input_required validate" style="text-transform:uppercase" [(ngModel)]="covInfoObj.covInfo.covenant" name="covenant">
          </div>
      </div>

      



      
  </div>

  <div style="float: right; margin-top: 5%;">
    <button *ngIf="navigation=='1' && accVerify" class="waves-effect waves-light btn-small btn-flat col s1 stn-flat next control_btn" style="padding: 0 0rem !important; " (click)="next()">
      <span style="color: #1565C0;">NEXT &nbsp;<span class="lnr lnr-arrow-right-circle"></span> </span>
    </button>
    <button *ngIf="navigation=='2' && !subloading" class="waves-effect waves-light btn-small btn-flat col s1 stn-flat-success control_btn submit" style="padding: 0 0rem !important; " (click)="submit()">
      <span style="color: #2a882e;">SUBMIT &nbsp;<span class="lnr lnr-checkmark-circle"></span> </span>
    </button>
    <div class="col s12" style="margin-top: 10px !important;" *ngIf="subloading">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-stanbic-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="float: left; margin-top: 5%;">
    <button *ngIf="navigation=='2'" class="waves-effect waves-light btn-small btn-flat col s1 stn-flat previous control_btn" style="padding: 0 0rem !important; " (click)="prev()">
      <span style="color: #1565C0;"><span class="lnr lnr-arrow-left-circle"></span>&nbsp; BACK </span>
    </button>


  </div>

  
</div>