@font-face {
  font-family: 'BentonSans Thin';
  src: url("../fonts/BentonSans/BentonSans-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Light';
  src: url("../fonts/BentonSans/BentonSans-Light.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Book';
  src: url("../fonts/BentonSans/BentonSans-Book.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Regular';
  src: url("../fonts/BentonSans/BentonSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'BentonSans Medium';
  src: url("../fonts/BentonSans/BentonSans-Medium.otf") format("opentype");
}
.stn-flat {
  border: 1px solid #1565C0 !important;

}
.progress{
  background-color: #B6B6B4 !important;
  width: 70% !important;
}


input:not([type]):disabled + label, input:not([type])[readonly="readonly"] + label, input[type=text]:not(.browser-default):disabled + label, input[type=text]:not(.browser-default)[readonly="readonly"] + label, input[type=password]:not(.browser-default):disabled + label, input[type=password]:not(.browser-default)[readonly="readonly"] + label, input[type=email]:not(.browser-default):disabled + label, input[type=email]:not(.browser-default)[readonly="readonly"] + label, input[type=url]:not(.browser-default):disabled + label, input[type=url]:not(.browser-default)[readonly="readonly"] + label, input[type=time]:not(.browser-default):disabled + label, input[type=time]:not(.browser-default)[readonly="readonly"] + label, input[type=date]:not(.browser-default):disabled + label, input[type=date]:not(.browser-default)[readonly="readonly"] + label, input[type=datetime]:not(.browser-default):disabled + label, input[type=datetime]:not(.browser-default)[readonly="readonly"] + label, input[type=datetime-local]:not(.browser-default):disabled + label, input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label, input[type=tel]:not(.browser-default):disabled + label, input[type=tel]:not(.browser-default)[readonly="readonly"] + label, input[type=number]:not(.browser-default):disabled + label, input[type=number]:not(.browser-default)[readonly="readonly"] + label, input[type=search]:not(.browser-default):disabled + label, input[type=search]:not(.browser-default)[readonly="readonly"] + label, textarea.materialize-textarea:disabled + label, textarea.materialize-textarea[readonly="readonly"] + label {
  color: #000 !important;
}

.save{
  margin-right: 30px;
}
.headerInfo{
  font-size: 1rem;
  font-family: 'BentonSans Book' !important;
}

.modal {
  max-height: 75% !important;
}
.modal-padding-url a{
  color: #000 !important;
  font-family: 'BentonSans Regular' !important;
  text-decoration: underline !important;

}


.btn.disabled, .disabled.btn-large, .btn-floating.disabled, .btn-large.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-flat:disabled, .btn[disabled], [disabled].btn-large, .btn-floating[disabled], .btn-large[disabled], .btn-flat[disabled] {
  pointer-events: none;
  background-color: #ffffff !important;
  box-shadow: none;
  cursor: not-allowed !important;
}

.modal-padding-url{
  margin-bottom: 50px !important;
}


.modal-padding{
  margin-bottom: 20px !important;
}

.modal-header{
  font-size: 25px !important;
  font-family: 'BentonSans Medium';
}
.dropdown-content li > a, .dropdown-content li > span {
  font-size: 13px;
  color: #0033a1 !important;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  font-family: 'BentonSans Book' !important;
}

.autocomplete-content {
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
  opacity: 1;
  position: fixed !important;
  font-family: 'BentonSans Book' !important;
}

.collapsible-header {
  font-family: 'BentonSans Book' !important;
  padding: 0.7rem !important;
}

.collapsible-body {
  padding: 0.9rem !important;
  font-family: 'BentonSans Regular' !important;
  font-size: 11px !important;
}

.userlink{
  text-decoration: underline !important;
  color: #0033a1 !important;
  cursor: pointer !important;
}

.help-text, .help-text-modal{
  font-size:  15px !important;
  font-family: 'BentonSans Book' !important; 
}

.toast{
  font-size:  15px !important;
  font-family: 'BentonSans Book' !important;
  background-color: #0033a1 !important;
}
/* 
.error {
  background-color: rgb(189, 73, 73) !important;
} */

.preloader-wrapper.small {
  width: 20px !important;
  height: 20px !important;
}

select.browser-default {
  padding-top: 1px !important;
  font-size: 13px !important;
}


.dropify-wrapper {
  font-size: 13px;
  text-align: center !important;
  text-align-last: center !important;
}

.helper-text-mini {
  font-family: 'BentonSans Book' !important;
  font-size: 13px !important;
  margin-top: -5px !important;
}

.input-field .helper-text-mini {
  min-height: 0 !important;
}

.pointer{
  cursor: pointer !important;
  margin-top: -5px !important; 
  margin-bottom: 25px !important;
}

.avoid_click{
  pointer-events: none !important;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid #4CAF50 !important;
  box-shadow: 0 1px 0 0 #4CAF50 !important;
}


.lable-not-required{
  margin-top: 9px !important;
}
input:not([type]).invalid + label.active:after, input:not([type]).valid + label.active:after, input[type=text]:not(.browser-default).invalid + label.active:after, input[type=text]:not(.browser-default).valid + label.active:after, input[type=password]:not(.browser-default).invalid + label.active:after, input[type=password]:not(.browser-default).valid + label.active:after, input[type=email]:not(.browser-default).invalid + label.active:after, input[type=email]:not(.browser-default).valid + label.active:after, input[type=url]:not(.browser-default).invalid + label.active:after, input[type=url]:not(.browser-default).valid + label.active:after, input[type=time]:not(.browser-default).invalid + label.active:after, input[type=time]:not(.browser-default).valid + label.active:after, input[type=date]:not(.browser-default).invalid + label.active:after, input[type=date]:not(.browser-default).valid + label.active:after, input[type=datetime]:not(.browser-default).invalid + label.active:after, input[type=datetime]:not(.browser-default).valid + label.active:after, input[type=datetime-local]:not(.browser-default).invalid + label.active:after, input[type=datetime-local]:not(.browser-default).valid + label.active:after, input[type=tel]:not(.browser-default).invalid + label.active:after, input[type=tel]:not(.browser-default).valid + label.active:after, input[type=number]:not(.browser-default).invalid + label.active:after, input[type=number]:not(.browser-default).valid + label.active:after, input[type=search]:not(.browser-default).invalid + label.active:after, input[type=search]:not(.browser-default).valid + label.active:after, textarea.materialize-textarea.invalid + label.active:after, textarea.materialize-textarea.valid + label.active:after {
  padding-top: 13px !important;
}

[type="checkbox"] + label{
  color: #000 !important;
  font-size: 13px !important;
}

[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #0033a1 !important;
  background-color: #0033a1 !important;
  z-index: 0;
}

.label{
  font-family: 'BentonSans Book' !important;
  color: #000;
}


.modal-comments-lable{
  font-size: 13px !important;
}
.modal-text-header-comments{
  font-family: 'BentonSans Light' !important;
  font-size: 19px !important;

}

.error{
  color:#FF0000 !important;
}

.success{
  color: #2a882e !important;
}

.normal{
  color: #0033a1 !important;
}
.materialize-textarea{
  font-family: 'BentonSans Book' !important;
}

.input-field textarea:focus + label {
  color: #000;
}

.reject-modal{
  width: 40% !important;
}


input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default)[readonly="readonly"], input[type=password]:not(.browser-default):disabled, input[type=password]:not(.browser-default)[readonly="readonly"], input[type=email]:not(.browser-default):disabled, input[type=email]:not(.browser-default)[readonly="readonly"], input[type=url]:not(.browser-default):disabled, input[type=url]:not(.browser-default)[readonly="readonly"], input[type=time]:not(.browser-default):disabled, input[type=time]:not(.browser-default)[readonly="readonly"], input[type=date]:not(.browser-default):disabled, input[type=date]:not(.browser-default)[readonly="readonly"], input[type=datetime]:not(.browser-default):disabled, input[type=datetime]:not(.browser-default)[readonly="readonly"], input[type=datetime-local]:not(.browser-default):disabled, input[type=datetime-local]:not(.browser-default)[readonly="readonly"], input[type=tel]:not(.browser-default):disabled, input[type=tel]:not(.browser-default)[readonly="readonly"], input[type=number]:not(.browser-default):disabled, input[type=number]:not(.browser-default)[readonly="readonly"], input[type=search]:not(.browser-default):disabled, input[type=search]:not(.browser-default)[readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
  color: #000 !important;
}

.upload-modal,.covenant-modal{
  width: 40% !important;
  
}


.comments-modal{
  width: 90% !important;
  height: 100% !important;
}

.watchlist-modal{
  width: 70% !important;
  height: 80% !important;
}

.next{
  margin-right: 30px !important;
}

.previous{
  margin-right: 30px !important;
}

.reject{
  margin-right: 30px !important;
}
.control_div{
  margin-top:5px !important; 
  margin-left: -13px !important;
}

.modal_previous{
  margin-right: 30px !important;
}
.control_btn{
  width: 100px !important;
  font-family: 'BentonSans Book' !important;
  font-size: 13px !important;
}

.control_btn_medium{
  font-family: 'BentonSans Book' !important;
  font-size: 13px !important;
}
.sub_btn_icon{
  margin-left: -8px !important;
}

.sub_btn{
  margin-top: 16px !important;
  width: 50px !important;
  margin-left: -15px !important;
}
.picker__day.picker__day--today.picker__day--selected {
  color: #fff !important;
}

.picker__close, .picker__today {
  font-size: 1.1rem;
  padding: 0 1rem;
  color: #0033a1;
  font-family: 'BentonSans Regular' !important;
}

.picker__clear{
  font-family: 'BentonSans Regular' !important;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color: #0033a1 !important;
}

.picker__day.picker__day--today {
  color: #0033a1 !important;
}

.picker__select--month.browser-default{
  font-family: 'BentonSans Regular' !important;
}

/* .picker__select--year.browser-default {
  font-family: 'BentonSans Regular' !important;
} */

.picker__table th, .picker__table td {
  font-family: 'BentonSans Regular' !important;
}

.picker__month, .picker__year{
  font-family: 'BentonSans Light' !important;
}

.picker__weekday-display{
  font-family: 'BentonSans Light' !important;
}

.picker__day-display {
  font-family: 'BentonSans Light' !important;
}

.picker__month-display {
  font-size: 2.8rem;
  font-weight: 500;
  background-color: #0033a1;
}

.picker__date-display {
  text-align: left;
  background-color: #0033a1;
  color: #fff;
  padding: 18px;
  font-weight: 300;
}

.modal-text-header{
  font-family: 'BentonSans Medium' !important;
}

.loaderText{
  font-family: 'BentonSans Light' !important;
  font-size: 13px !important;
}
.modal .modal-close {
  cursor: pointer;
  text-transform: none !important;
  font-family: 'BentonSans Regular' !important;
}

.input-field .prefix ~ label{
  margin-left: 0 !important;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
  width: calc(100%) !important;
}

progress[value]::-webkit-progress-value {
  transition: width 0.5s;
  background: #0033a1 !important;
}

.lbl_invalid{
  color: #FF0000 !important;
}

.ngx-pagination li{
  font-family: 'BentonSans Medium' !important;
  font-size: 14px !important;
}

.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #0033a1 !important;
  color: #fefefe;
  cursor: default;
}


.tbl_icon{
  padding-left: 5px !important;
}

.tbl_more{
  font-size: 20px !important; 
  cursor: pointer !important;
}
.moby_header{
  border-radius: 0 !important; 
  border-right: 1px solid #fff !important;
  cursor: pointer;
}
.sidenav-trigger{
  cursor: pointer !important;
}

.input-field .helper-text {
  min-height: 0 !important;
}

select {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
.helper-text-form{
  margin-top: 5px !important;
}

.sidenav-trigger{
 color: #0033a1 !important;
}
input.invalid:not([type]), input.invalid:not([type]):focus,
input.invalid[type=text]:not(.browser-default),
input.invalid[type=text]:not(.browser-default):focus,
input.invalid[type=password]:not(.browser-default),
input.invalid[type=password]:not(.browser-default):focus,
input.invalid[type=email]:not(.browser-default),
input.invalid[type=email]:not(.browser-default):focus,
input.invalid[type=url]:not(.browser-default),
input.invalid[type=url]:not(.browser-default):focus,
input.invalid[type=time]:not(.browser-default),
input.invalid[type=time]:not(.browser-default):focus,
input.invalid[type=date]:not(.browser-default),
input.invalid[type=date]:not(.browser-default):focus,
input.invalid[type=datetime]:not(.browser-default),
input.invalid[type=datetime]:not(.browser-default):focus,
input.invalid[type=datetime-local]:not(.browser-default),
input.invalid[type=datetime-local]:not(.browser-default):focus,
input.invalid[type=tel]:not(.browser-default),
input.invalid[type=tel]:not(.browser-default):focus,
input.invalid[type=number]:not(.browser-default),
input.invalid[type=number]:not(.browser-default):focus,
input.invalid[type=search]:not(.browser-default),
input.invalid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid > input.select-dropdown,
.select-wrapper.invalid > input.select-dropdown:focus {
  border-bottom: 1px solid #F44336 !important;
  -webkit-box-shadow: 0 1px 0 0 #F44336;
          box-shadow: 0 1px 0 0 #F44336;
}

.attachment_desc{
  display: block;
  font-family: 'BentonSans Medium' !important;
  font-size: 11px !important;
  padding-bottom: 10px;
}
.sub_header{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.input-field input[type=text]:focus,.input-field input[type=password]:focus,textarea.materialize-textarea:focus {
  border-bottom: 1px solid #0033a1 !important;
  box-shadow: 0 1px 0 0 #0033a1 !important;
}

.helper-text{
  font-family: 'BentonSans Book' !important;
    font-size: 13px !important;
    margin-top: 8px !important;
}

.helper-modal{
  font-family: 'BentonSans Book' !important;
    font-size: 13px !important;
    width: 300px !important;
    margin-top: 5px !important;
    margin-left: -10px !important;
}

select {
    border: 1px solid #ddd !important;
    height: 2.8rem !important;
}

/*** date picker ***/
.datepicker-date-display .year-text {
  font-family: 'BentonSans Book' !important;
    display: block;
    font-size: 1.5rem;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.datepicker-date-display .date-text {
    font-family: 'BentonSans Regular' !important;
    display: block;
    font-size: 2.5rem;
    line-height: 47px;
    font-weight: 500;
}

.datepicker-date-display{
    background-color: #0033a1 !important;
}

.datepicker-table thead{
  font-family: 'BentonSans Regular' !important;
}

.datepicker-day-button{
 font-family: 'BentonSans Light' !important; 
}

.datepicker-controls .select-wrapper input{
 font-family: 'BentonSans Medium' !important; 
 font-size: 14px !important; 
}

.datepicker-table td.is-today {
    color: #0033a1 !important;
}

.datepicker-table td.is-selected{
  background-color: #0033a1 !important;
  color: #fff !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #0033a1 !important;
}
/*** date picker ***/

select {
  display: none;
}

.select_label{
    margin-top: -8px !important;
    display: block !important;
    top: -18px !important;
    font-size: 12px !important;
    font-family: 'BentonSans Book' !important;
    color: #000;
    padding-bottom: 8px !important;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #0033a1;
    background-color: #0033a1;
    z-index: 0;
}

.collection-item{
  font-family: "BentonSans Book" !important;
  color: #000 !important;
}

[type="checkbox"] + span:not(.lever) {
  font-family: "BentonSans Medium" !important;
  font-size: 12px !important;
  color: #000 !important;
}

.collection.with-header .collection-header{
  background-color: #9db2e02e !important;
  color: #4679E7 !important;
  text-transform: none !important;
  font-family: "BentonSans Light" !important;
  
}

.collection.with-header .collection-item{
  padding-left: 10px !important;
}

.fab-stanbicFab{
  background-color: #0033a1 !important;
}


.attachments ul:not(.browser-default) > li {
    list-style-type: inherit !important;
    font-family: 'BentonSans Book' !important;
    font-size: 13px !important;
    line-height: 30px !important;
}

.attachments ul a{
color: #0033a1 !important;
}

.attachments ul a:hover{
  text-decoration: underline !important;
}

.fix{
  /*margin-left: -20px !important;*/
  border: 1px solid #9db2e02e !important
}

.fixer{
  margin-top: 30px !important;
}

.docDesp{
  font-family: 'BentonSans Medium' !important;
  font-size: 11px !important;
}


.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #0033a1 !important;
  text-transform: none !important;
  font-family: "BentonSans Regular" !important;
  background-color: #fff !important;
}


.tabs .tab a {
  color: #4679E7 !important;
  text-transform: none !important;  
  font-family: "BentonSans Light" !important; 
  background-color: #9db2e02e !important;
  border-right: 2px solid #fff !important;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #0033a1 !important;
    will-change: left, right;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #fff !important;
    outline: none;
}

.dropify-wrapper {
    font-family: "BentonSans Regular" !important;
    font-size: 13px;
}

.user-more-info{
  font-size: 20px !important;
  color: #0033a1 !important;
  cursor: pointer !important;
}
.sub_header{
  font-family: 'BentonSans Book' !important;
  margin-top: -20px !important;
  margin-bottom: 40px !important;
  font-size: 0.856rem;
  color: #0033a1 !important;
}

.stnHead{
  font-family: 'BentonSans Regular' !important;
  text-align: center !important;
  font-size: 0.8rem;
}

.stnBody{
  font-family: 'BentonSans Regular' !important;
  text-align: center !important;
  font-size: 0.7rem;
}
.appLogo{
  height: 40px !important;
}

 .form_input_custom{
  /* font-family: 'BentonSans Book' !important; */
  height: 2.7rem !important;
  /* margin: 5px !important; */
  border-bottom: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;

  padding-left: 10px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;     
 }


.input_style
{
    box-sizing: border-box !important;
    padding-left: 30px !important;
    margin-left: 0 !important;
    font-family: "BentonSans Light" !important;
}

.input-field .prefix {
margin-top: 8px !important;  
}

.input-field .prefix.active {
  color: #000 !important;
}

.pagination li a {
  font-family: 'BentonSans Regular' !important;
  font-size: 0.85rem !important;
}

.pagination li.active a {
    color: #fff;
    background-color: #0033a1 !important;
}

.loginForm{
  margin-top: 16vh;
  padding: 20px 40px 10px 40px;
  border: 0.092rem solid rgb(224, 226, 227);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: rgb(253, 254, 254) !important;
}

.loginForm a{
  font-family: "BentonSans Light" !important;
  color: rgb(88, 89, 91) !important;
  text-decoration: none !important;
}

.loginForm span a {
  font-family: "BentonSans Light" !important;
  /* color: #4385B7 !important; */
  text-decoration: none !important;
}

.loginForm span a:hover {
  font-family: "BentonSans Light" !important;
  /* color: #4385B7 !important; */
  text-decoration: underline !important;
}

.bg-stanbic{
	background-color: #0033a1;
}


.stn-flat{
  border:1px solid #1565C0; 
  text-transform: none;
}

.stn-flat:Hover{
  background-color: #fff !important;
  border:1px solid #1565C0 !important; 
  text-transform: none;
}

.loan_disbursed{
  color: #2a882e !important;
}

.loan_approved{
  color: #0033a1 !important;
}

.loan_verified{
  color: #0033a1 !important;
}
  
.loan_draft{
  color: #000 !important;
}

.loan_resubmitted{
  color: #FFA500 !important;
}

.loan_reject{
  color: #FF0000 !important;
}



.stn-flat-success{
  border:1px solid #2a882e; 
  text-transform: none;
}

.stn-flat-success:Hover{
  background-color: #fff !important;
  border:1px solid #2a882e !important; 
  text-transform: none;
}



.stn-flat-reject{
  border:1px solid #FF0000; 
  text-transform: none;
}

.stn-flat-reject:Hover{
  background-color: #fff !important;
  border:1px solid #FF0000 !important; 
  text-transform: none;
}

.account_info{
	font-family: 'BentonSans Light';
	letter-spacing: 0.2px;
	font-size: 1.5rem;
	display: block;
}

.account_info_sub{
	font-family: 'BentonSans Medium';
	letter-spacing: 0.2px;
	font-size: .875rem;
	margin-top: 5px !important;
	display: block;
}

.account_info_sub_more{
	font-family: 'BentonSans Medium';
	letter-spacing: 0.2px;
	font-size: .875rem;
	margin-top: 5px !important;
	display: block;
}_

.account_info_sub{
	font-family: 'BentonSans Medium';
	letter-spacing: 0.2px;
	font-size: .875rem;
	margin-top: 5px !important;
	display: block;
}

.account_info_sub_sub{
  font-family: 'BentonSans Regular';
  letter-spacing: 0.2px;
  font-size: .875rem;
  margin-top: 5px !important;
  display: block; 
}

.account_info_sub_helper{
	font-family: 'BentonSans Book';
	letter-spacing: 0.2px;
	font-size: .800rem;
	margin-top: 5px !important;
	display: block;	
}

.account_info_sub_info{
	font-family: 'BentonSans Medium';
	letter-spacing: 0.2px;
	font-size: .975rem;	
}

.title{
  font-family: 'BentonSans Regular';
}

.sub_title{
  font-family: 'BentonSans Book';
}

.collection .collection-item.avatar .title {
    font-size: 13px !important;
}

.row .col.s99 {
    width: 17.7% !important;
/*    margin-left: auto;
    left: auto;
    right: auto;*/
}

.app_id_link{
font-family: 'BentonSans thin';
font-size: 12px;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid #0033a1 !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #0033a1 !important;
    margin-top: 2px !important;
}

.right{
	float: right !important
}

.loginBtn{
  background-color: #0033a1 !important;
}

.stanBtn{
	text-transform: none;
	font-family: 'BentonSans Book';
	padding-top: 2px;
}

.account_info_sub_mini{
	font-family: 'BentonSans Book';
	letter-spacing: 0.2px;
	font-size: .775rem;	
	color: #808080;	
}

.process_info{
	font-family: 'BentonSans Book';
	font-size: 0.899rem;
	line-height: 20px;
	text-align: center;
}

.required{
  color: #FF0000 !important;
}

.collection .collection-item.avatar {
    min-height: 0 !important;
}

.promo{
	height: 85px !important;
}
.progress{
	background-color: #B6B6B4 !important;
}

.progress .determinate{
	background-color: #0033a1 !important;
}

.body_text{
	font-family: 'BentonSans Book';
	font-size: 14px;
}

.inline-block-child {
  display: inline-block;
}

.progressLevel{
	font-family: 'BentonSans Regular';
	margin-bottom: 10px;
	padding-top: 30px;
}

.fab-EVA{
	background-color: #0033a1 !important;
}

.form-check-label{
	font-family: 'BentonSans Book' !important;
	letter-spacing: 0.2px;
	font-size: .975rem;	
	color: #000 !important;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    padding-left: 25px !important;
}

[type="radio"] + span:before, [type="radio"]:not(:checked) + span:after {
    border: 2px solid #5a5a5a;
    margin-top: 2px;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #26a69a;
    margin-top: 2px !important;
}

.menuText{
  font-family: 'BentonSans Light' !important;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  font-size: 13px !important;
}

.input-field input[type=text], .input[type=password]{
	padding-top: 1px !important;
  font-size: 13px !important;
}

.form-panel .input-field > label {
    top: -14px !important;
    font-size: 15px !important;
    font-family: 'BentonSans Book' !important;
    color: #000;
 }


.input_lable {
    font-size: 12px !important;
    font-family: 'BentonSans Medium' !important;
    color: #000;
}

input_lable_new{
  font-size: 12px !important;
  font-family: 'BentonSans Medium' !important;
  color: #000;  
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
    font-family: 'BentonSans Book' !important;
    color: #000 !important;
    font-size: 12px !important;
}

.spinner-stanbic, .spinner-stanbic-only {
  border-color: #0033a1 !important;
}

/* input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
 	font-family: 'BentonSans Book' !important;
 	height: 2.7rem !important;
 	margin: 0 !important;
 	     border-bottom: 1px solid #ddd !important;
     border-right: 1px solid #ddd !important;
     border-left: 1px solid #ddd !important;
     border-top: 1px solid #ddd !important;

  padding-left: 10px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;     
 }*/




.checkbox {
  padding-left: 20px; }
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
    padding-left: 5px; }
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
      color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";}
.checkbox input[type="checkbox"]:indeterminate + label::after,
.checkbox input[type="radio"]:indeterminate + label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}
.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
    cursor: not-allowed;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
      opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
  background-color: #eeeeee;
        cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #337ab7;
  border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::after,
.checkbox-primary input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:indeterminate + label::after,
.checkbox-danger input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:indeterminate + label::after,
.checkbox-info input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:indeterminate + label::after,
.checkbox-warning input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:indeterminate + label::after,
.checkbox-success input[type="radio"]:indeterminate + label::after {
  background-color: #fff;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  padding-left: 25px !important;
  font-family: 'BentonSans Book' !important;
  color: #000 !important;
  font-size: 14px !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #0033a1 !important;
}


[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #0033a1 !important;
}

.radio-options{
  margin-top: 7px !important;
}