<nav class="navbar navbar-light bg-stanbic">
  <div class="nav-wrapper">
    <a routerLinkclass="brand-logo left">
      <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down menuText">

      <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey! {{username}}
        </a></li>

        <li (click)="dashboard()">
            <a><span class="lnr lnr-menu-circle" style="font-size: 20px;"></span>&nbsp;
              Dashboard</a>
          </li>
          
        <li>
          <a (click)="apps()"><span class="lnr lnr-screen" style="font-size: 20px;"></span>
          My Apps</a>
       </li>

       <li class="active">
        <a><span class="lnr lnr-sync" style="font-size: 20px;"></span>
        Re-Assign</a>
      </li>

         
      <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
          Logout</a></li>

    </ul>
  </div>
</nav>
 
<div class="row">

  <div class="col s8 offset-s1">
    <div class="row" style="margin-bottom: -2% !important">
        
      <div class="row" style="margin-top: 5% !important">
          <div class="col l12">
              <span class="account_info" style="margin-top: 1%;">Update Relationship Manger</span>
          </div>
      </div>

      <div class="row" style="margin-top: 3%;">
        <div class="col l4">
          Previous RM SAP Number<b style="color: #ff0000;">*</b>
          </div>

          <div class="col l4">
            Current RM SAP Number<b style="color: #ff0000;">*</b>
            </div>
      </div>

      <div class="row">
        <div class="col l4">    
          <input type="text" class="form_input_custom input_required validate" [(ngModel)]="assignModel.oldRmSapid" name="oldRmSapid">
        </div>

        <div class="col l4">    
          <input type="text" class="form_input_custom input_required validate" [(ngModel)]="assignModel.newRmSapid" name="newRmSapid">
        </div>
      </div>

      <div class="row">
        <div class="col l4">
          <button class="waves-effect waves-light btn-small btn-flat col s1 stn-flat-success control_btn submit" style="padding: 0 0rem !important; " (click)="submitModal()">
            <span style="color: #2a882e;">SUBMIT &nbsp;<span class="lnr lnr-checkmark-circle"></span> </span>
          </button>
        </div>
      </div>


    </div>
  </div>
</div>


<div class="modal confirmActivateModal" >
  <div class="modal-content">
      <p class="center-align" style="font-size: 28px;">
        <span class="lnr lnr-question-circle"></span>
      </p>
    <div style="margin-top: 30px;">
      <p style="text-align:center; font-size: 15px; color:#000">Are you sure you want to update this RM's data?</p>
    </div>

    <div class="center-align" style="margin-top: 30px; text-align: center;">

        <div class="row" >
            <div class="col s4 offset-s2">
                <button type="button" class="btn waves-effect waves-light green darken-3" *ngIf="!loaderd" (click)="activateAction()">
                    <i class="material-icons">done</i>
                </button>

                <div class="col s12" style="margin-top: 10px !important;" *ngIf="loaderd">
                    <div class="preloader-wrapper small active">
                      <div class="spinner-layer spinner-stanbic-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          <div class="col s4 offset-s1">
              <button type="button" class="btn waves-effect waves-light red modal-close" *ngIf="!loaderd">
                  <i class="material-icons">do_not_disturb</i>
              </button>
          </div>
            
        </div>    
    
      
    </div>
  </div>
</div>