<nav class="navbar navbar-light bg-stanbic">
  <div class="nav-wrapper">
    <a routerLinkclass="brand-logo left">
      <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down menuText">

      <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey! {{username}}
        </a></li>
      
      <li>
          <a (click)="newRecord()"><span class="lnr lnr-plus-circle" style="font-size: 20px;"></span>&nbsp;
            Add Record</a>
        </li>

        <li class="active">
            <a><span class="lnr lnr-menu-circle" style="font-size: 20px;"></span>&nbsp;
              Dashboard</a>
          </li>
          
        <li>
          <a (click)="apps()"><span class="lnr lnr-screen" style="font-size: 20px;"></span>
          My Apps</a>
       </li>

       <li>
        <a (click)="reAssign()"><span class="lnr lnr-sync" style="font-size: 20px;"></span>
        Re-Assign</a>
      </li>

         
      <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
          Logout</a></li>

    </ul>
  </div>
</nav>

<div style="margin-top: 1%;">
    <br>
    <div class="row">
      <div class="col s1 offset-s4">
        <p  class="headingapp">SUITE:</p>
      </div>
      <div class="col s3 " style="margin-top:1%; margin-left: -4%;">  
        <select class="browser-default" [(ngModel)]="statusModel.suite" name="suite" (ngModelChange)="changeData($event)">
          <option value="" disabled selected></option>
          <option value=" ">ALL SUITES</option>
          <option value="TAMALE">TAMALE</option>
          <option value="ACCRA NORTH">ACCRA NORTH</option>
          <option value="ACCRA SOUTH">ACCRA SOUTH</option>
          <option value="ACCRA EAST">ACCRA EAST</option>
          <option value="TAKORADI">TAKORADI</option>
          <option value="ASHANTI-BONO">ASHANTI-BONO</option>
          <option value="ENTERPRISE">ENTERPRISE</option>
          <option value="PERSONAL MARKET">PERSONAL MARKET</option>
          <option value="AGRIC/PUBLIC">AGRIC/PUBLIC</option>

        </select>
      </div>
      <div class="col s1 " style="margin-top:0.8%; ">
          <button type="button" class="btn waves-light search"  (click)="suiteInfo()"><i class="small material-icons">search</i></button>
      </div>
    </div>
  </div>

  
<div *ngIf="!suite" style="margin-top: 15%;">
  <div class="center-align">
    <span class="lnr lnr-select" style="font-size: 22px;"></span>
    <p style="margin-top: -0.7px; font-size: 15px;">Please Select a Suite</p>
  </div>
  
</div>

<div class="row" style="margin-top: 2%;" *ngIf="suite">

    <div class="col s10 offset-s1">
        <p class="radio-options">
            <label>
              <input class="with-gap" name="status" type="radio" id="active" value="ACTIVE" [(ngModel)]="statusModel.status" (ngModelChange)="toggleView($event)" />
              <label for="active">Active</label>
            </label>
    
      
    
            <label style="margin-left: 20px;">
              <input class="with-gap" name="status" type="radio" id="due" value="DUE" [(ngModel)]="statusModel.status" (ngModelChange)="toggleView($event)" />
              <label for="due">Due</label>
            </label> 
            
            <label style="margin-left: 20px;">
                <input class="with-gap" name="status" type="radio" id="overdue" value="OVERDUE" [(ngModel)]="statusModel.status"  (ngModelChange)="toggleView($event)" />
                <label for="overdue">OverDue</label>
            </label> 

            <label style="margin-left: 20px;">
              <input class="with-gap" name="status" type="radio" id="completed" value="removed" [(ngModel)]="statusModel.status"  (ngModelChange)="toggleView($event)" />
              <label for="completed">Removed</label>
            </label>
        </p>
    </div>


    <div  class="row todayView">
      <div [hidden]="!Loading">
        <div class="row">
          <div class="col s12 center-align" style="margin-top: 25vh">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-stanbic-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
            <p class="help-text">
              Please wait ... Loading records
            </p>
          </div>
        </div>
      </div>
  
      <div [hidden]="Loading">
        <li *ngIf="isData;then dataTable else noData"></li>
        <ng-template #dataTable>
  
          <div class="col s10 offset-s1" style="margin-top: -10px !important;">
            <div class="input-field col s4" style="margin-left: -10px !important;">
              <input name="text" class="form_input_custom numberFilter" type="text" placeholder="Search ..."
                [(ngModel)]="filter">
            </div>
            <table class="striped highlight centered">
              <thead class="stnHead" style="background-color: #0033a1; color: #fff">
                <tr>
                   
                  <th (click)="sort('appID')" class="moby_header">
                   COUNTERPARTY


                  </th>
                  <th (click)="sort('FNAME')" class="moby_header">
                    MONITORING REQUIREMENT


                  </th>
                  
                  <th *ngIf = "statusModel.suite==' '"  (click)="sort('FNAME')" class="moby_header">
                      SUITE
  
  
                  </th>
                    
                  <th (click)="sort('SNAME')" class="moby_header">
                     FREQUENCY 


                  </th>
                  <th (click)="sort('appID')" class="moby_header">
                    STATUS
 
 
                   </th>
                  <th (click)="sort('LOAN_TYPE')" class="moby_header">
                      TIME ALLOWED


                  </th>
                  <th (click)="sort('LOAN_AMOUNT')" class="moby_header">
                      ON WATCHLIST?
  
  
                    </th>
                  <th (click)="sort('LOAN_AMOUNT')" class="moby_header">
                    DAYS TO DUE


                  </th>
                  <th (click)="sort('STATUS')" class="moby_header">
                    EXPIRY DATE


                  </th>

                  <th (click)="sort('STATUS')" class="moby_header">
                    COMMENTS


                  </th>
  
                  <th *ngIf = "statusModel.status!='removed'"  (click)="sort('STATUS')" class="moby_header">
                      REMOVE
  
  
                    </th>
    
             
  
                  <th (click)="sort('appID')" class="moby_header">
                    VIEW
    
                  </th>
                  
                </tr>
              </thead>
  
              <tbody class="stnBody">
                <tr
                  *ngFor="let varcovenants of covenants | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 8, currentPage: p }; let i=index;">
                  <td>{{varcovenants.nameOfCounterparty}}</td>
                  <td>{{varcovenants.monRequirement}}</td>
                  <td *ngIf = "statusModel.suite==' '">{{varcovenants.suite}}</td>
                  <td>{{varcovenants.frequency}}</td>
                  <td [ngClass]="{'loan_disbursed': varcovenants.status == 'ACTIVE', 'loan_reject': varcovenants.status == 'INACTIVE'}">{{varcovenants.status}}</td>
                  <td>{{varcovenants.timeAllowed}}</td>
                  <td  class="userlink">{{varcovenants.reportedOnWatchlist}}</td>
                  <td [ngClass]="{'loan_disbursed': varcovenants.remainingDays > 0, 'loan_reject': varcovenants.remainingDays < 0}">{{varcovenants.remainingDays}}</td>
                  <td>{{varcovenants.nextdue}}</td>
                  <td  ><i class="lnr lnr-bubble prefix tbl_more" id="{{varcovenants.id}}"  (click)="goto_Status($event)"></i></td>
                  <td *ngIf = "statusModel.status!='removed'">
                      <i class="lnr lnr-cross-circle prefix tbl_more" id="{{varcovenants.id}}"
                      (click)="disable($event)"></i>
                  </td>
           
                  <td>
                    <i class="lnr lnr-menu prefix tbl_more" id="{{varcovenants.id}}"
                      (click)="gotoView($event)"></i>
                  </td>
  
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
  
  
        </ng-template>
  
        <ng-template #noData>
          <div class="row">
            <div class="col s12 center-align" style="margin-top: 30vh">
              <span class="help-text">
                <span class="lnr lnr-warning" style="font-size: 20px; color:#0033a1"></span>
                &nbsp; {{errorMessage}}.</span>
            </div>
          </div>
  
        </ng-template>
      </div>
    </div>

</div>

<div class="modal watchlist-modal statusModal" materialize="modal">
    <div class="modal-content" style="padding-bottom: 10px;">
      <div class="right-align">
        <span class="modal-action modal-close">
          <span class="lnr lnr-cross"></span>
        </span>
      </div>
  
  
      <div [hidden]="!loadingStatus">
          <div class="row">
            <div class="col s12 center-align" style="margin-top: 25vh">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-stanbic-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <p class="help-text">
                Please wait ... Loading comments
              </p>
            </div>
          </div>
        </div>
    
        <div [hidden]="loadingStatus">
          <li *ngIf="isStatus;then workFlowTable else noWorkFlow"></li>
          <ng-template #workFlowTable>
    
              <table class="striped highlight centered">
                  <thead class="stnHead" style="background-color: #0033a1; color: #fff">
                    <tr>
                        <th (click)="commentSort('createDate')" class="moby_header" style="width: 15% !important">
                            CHECKLIST DATE
                            <span class="fa fa-sort tbl_icon" *ngIf="commentSort =='createDate'" [ngClass]="{'fas fa-sort-up':reverseComment,'fas fa-sort-down':!reverseComment}"></span>
                          </th>
                     
                        <th (click)="commentSort('checkList')" class="moby_header" style="width: 20% !important">
                            STATUS
                            <span class="fa fa-sort tbl_icon" *ngIf="commentSort =='checkList'" [ngClass]="{'fas fa-sort-up':reverseComment,'fas fa-sort-down':!reverseComment}"></span>
                          </th>
                      
                      <th (click)="commentSort('checkList')" class="moby_header" style="width: 50% !important">
                          AM COMMENTS
                          <span class="fa fa-sort tbl_icon" *ngIf="commentSort =='checkList'" [ngClass]="{'fas fa-sort-up':reverseComment,'fas fa-sort-down':!reverseComment}"></span>
                        </th>
                      <th (click)="commentSort('createDate')" class="moby_header" style="width: 15% !important">
                        COMMENT DATE
                        <span class="fa fa-sort tbl_icon" *ngIf="commentSort =='createDate'" [ngClass]="{'fas fa-sort-up':reverseComment,'fas fa-sort-down':!reverseComment}"></span>
                      </th>
                    </tr>
                  </thead>
      
                  <tbody class="stnBody">
                    <tr *ngFor="let varchecklist of checklist | paginate: { itemsPerPage: 6, currentPage: pl }; let i=index;">
                        <td style="width: 15% !important">{{varchecklist.checkDate | date: 'd-MMM-y'}}</td>
                        <td style="width: 20% !important">{{varchecklist.status}}</td>
                        <td style="width: 50% !important">{{varchecklist.amComment}}</td>
                        <td style="width: 15% !important">{{varchecklist.modifiedDate | date: 'd-MMM-y'}}</td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="pl = $event"></pagination-controls>
    
          </ng-template>
        </div>
    
        <ng-template #noWorkFlow>
          <div class="row">
            <div class="col s12 center-align" style="margin-top: 25vh">
              <span class="help-text-modal">
                <span class="lnr lnr-warning" style="font-size: 20px; color:#0033a1"></span>
                &nbsp; {{statusErrorMessage}}</span>
            </div>
          </div>
        </ng-template>
  
    </div>
  </div>


  <div class="modal confirmDeactivateModal" >
      <div class="modal-content">
          <p class="center-align" style="font-size: 28px;">
              <span class="lnr lnr-question-circle"></span>
            </p>
        <div style="margin-top: 30px;">
          <p style="text-align:center; font-size: 15px; color:#000">Are you sure you want to remove this record?</p>
        </div>
    
        <div class="center-align" style="margin-top: 30px; text-align: center;">
    
            <div class="row" >
                <div class="col s4 offset-s2">
                    <button type="button" class="btn waves-effect waves-light green darken-3"  *ngIf="!loaderd" (click)="disableAction()">
                        <i class="material-icons">done</i>
                    </button>
    
                    <div class="col s12" style="margin-top: 10px !important;" *ngIf="loaderd">
                        <div class="preloader-wrapper small active">
                          <div class="spinner-layer spinner-stanbic-only">
                            <div class="circle-clipper left">
                              <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                              <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                              <div class="circle"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              <div class="col s4 offset-s1">
                  <button type="button" class="btn waves-effect waves-light red modal-close">
                      <i class="material-icons">do_not_disturb</i>
                  </button>
              </div>
                
            </div>    
        
          
        </div>
      </div>
    </div>



  
