<nav class="navbar navbar-light bg-stanbic">
  <div class="nav-wrapper">
    <a routerLinkclass="brand-logo left">
      <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down menuText">

      <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey! {{username}}
        </a></li>

        <li>
            <a (click)="newRecord()"><span class="lnr lnr-plus-circle" style="font-size: 20px;"></span>&nbsp;
              Add Record</a>
          </li>

        <li >
          <a (click)="dashboard()"><span class="lnr lnr-menu-circle" style="font-size: 20px;"></span>&nbsp;
            Dashboard</a>
        </li>

        
        <li>
          <a (click)="apps()"><span class="lnr lnr-screen" style="font-size: 20px;"></span>
          My Apps</a>
       </li>




      <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
          Logout</a></li>

    </ul>
  </div>
</nav>

<div class="row">

  <div class="col s8 offset-s1">
      <div class="row" style="margin-bottom: -2% !important">
          <div class="col l12">
              <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="navigation=='2'">Customer Info</p>
              <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="navigation=='1'">Covenant Info</p>
              <div class="progress">
                <div class="determinate" style="width: 50%" id="prog"></div>
              </div>
          </div>
      </div>      

          <div class="row" style="margin-bottom: -2% !important">
              <div class="col l12">
                  <span class="account_info" style="margin-top: 1%;">A few minutes away!</span>
              </div>
          </div>   
        
        
          <div *ngIf="navigation=='2'">
            <div class="row" style="margin-bottom: -2% !important">
              <div class="col l12">
                  <p> CIF</p>
              </div>
            </div>
            
            <div class="row">
              <div class="col l3">
                <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.cif" name="cif">
              </div>
              
            </div> 
            
            <div class="row" *ngIf="navigation=='2'">
              <div class="col l3">
                Name of Counterparty
              </div>
              <div class="col l3">
                  Relationship Manager
              </div>
              <div class="col l3">
                  Manager ID 
              </div>
            </div>
        
            <div class="row" *ngIf="navigation=='2'">
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.nameOfCounterparty" name="nameOfCounterparty">
                </div>
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.rm" name="rm">
                </div>
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.rmCode" name="rmCode">
                </div>
            </div>
        
        
          </div>
        
          <div *ngIf="navigation=='1'">
              <div class="row" style="margin-top: 3%;">
                  <div class="col l3">
                      Suite<b style="color: #ff0000;">*</b>
                      </div>
                    <div class="col l2">
                      Frequency<b style="color: #ff0000;">*</b> 
                    </div>
            
                
            
                    <div class="col l2" *ngIf="quaterDiv">
                      {{skipLabel}}<b style="color: #ff0000;">*</b> 
                    </div>
            
                    <div class="col l2" *ngIf="dateDiv">
                     Due Date<b style="color: #ff0000;">*</b> 
                    </div>
            
                    <div class="col l2">
                        Time Allowed<b style="color: #ff0000;">*</b>
                      </div>
                  
              
              </div>
        
              <div class="row">
                  <div class="col l3">
                      <select class="browser-default" [(ngModel)]="covInfoObj.covInfo.suite" name="suite">
                          <option value="" disabled selected></option>
                          <option value="TAMALE">TAMALE</option>
                          <option value="ACCRA NORTH">ACCRA NORTH</option>
                          <option value="ACCRA SOUTH">ACCRA SOUTH</option>
                          <option value="ACCRA EAST">ACCRA EAST</option>
                          <option value="TAKORADI">TAKORADI</option>
                          <option value="ASHANTI-BONO">ASHANTI-BONO</option>
                          <option value="ENTERPRISE">ENTERPRISE</option>
                          <option value="PERSONAL MARKET">PERSONAL MARKET</option>
                          <option value="AGRIC/PUBLIC">AGRIC/PUBLIC</option>
                          
                      </select>
                  </div>
                  <div class="col l2">
                      <select class="browser-default" [(ngModel)]="covInfoObj.covInfo.frequency" name="frequency"  (ngModelChange)="frequency($event)">
                          <option value="" disabled selected></option>
                          <option value="ONE-OFF" >One-Off</option>
                          <option value="WEEKLY" >Weekly</option>
                          <option value="MONTHLY" >Monthly</option>
                          <option value="QUARTERLY" >Quarterly</option>
                          <option value="HALF-YEARLY" >Half Yearly</option>
                          <option value="YEARLY" >Yearly</option>
                      </select>
                  </div>
                  <div class="col l2" *ngIf="quaterDiv">
                    <p class="radio-options">
                      <label>
                        <input class="with-gap" name="status" type="radio" id="active" value="Y" [(ngModel)]="statusModel.status" (ngModelChange)="statusChange($event)" />
                        <label for="active">Yes</label>
                      </label>
              
                      <label style="margin-left: 20px;">
                        <input class="with-gap" name="status" type="radio" id="completed" value="N" [(ngModel)]="statusModel.status"  (ngModelChange)="statusChange($event)"/>
                        <label for="completed">No</label>
                      </label>
                    </p>
                  </div>
                  <div class="col l2"  *ngIf="dateDiv">    
                    <input type="text" [(ngModel)]="covInfoObj.covInfo.nextdue" name="nextdue" class="form_input_custom datepicker input_required freq"
                    materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date.." required>
                </div>

                <div class="col l2">    
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.timeAllowed" name="timeAllowed" (keyup)="getExpiryDate()" (keydown)="getExpiryDate()" (blur)="getExpiryDate()" >
                </div>
                  
                 
              </div>
       
        
              <div class="row" style="margin-top: 1%;">
                  <div class="col l3">
                      Expiry Date<b style="color: #ff0000;">*</b>
                    </div>
        
                  <div class="col l4">
                      Monitoring Requirement
                    </div>
                   
          
                    <div class="col l3">
                      Notifications to<b style="color: #ff0000;">*</b>
                    </div>
              </div>
                     
        
              <div class="row">
                  <div class="col l3">
                      <input type="text" class="form_input_custom input_required validate avoid_click" [(ngModel)]="expiryDate" name="expiryDate">
                      </div>
                  <div class="col l4">
                      <select name="monRequirement" [(ngModel)]="covInfoObj.covInfo.monRequirement" class="browser-default" >
                          <option value="" disabled selected></option>
                          <option *ngFor="let varrequirements of requirements" value="{{varrequirements.name}}">{{varrequirements.name}}</option>
                        </select>
                  </div>
                 
         

                  <div class="col l3">
                    <label>
                      <input id="rm" type="checkbox" class="filled-in" name="rm" />
                      <label for="rm">RM</label>
                    </label>
                    &nbsp;&nbsp;
                    <label>
                      <input id="customer" type="checkbox" class="filled-in" name="customer"  (click)="checkRm()"/>
                      <label for="customer">Customer</label>
                    </label>
                  </div>
              </div> 

               
              <div class="row" style="margin-top: 1%;">
                  <div class="col l3">
                      Covenant
                  </div>
              </div> 
        
              <div class="row">
                  <div class="col l10">
                      <input type="text" class="form_input_custom input_required validate" [(ngModel)]="covInfoObj.covInfo.covenant" style="text-transform:uppercase" name="covenant">
                  </div>
              </div>
          
        
              
          </div>
        
          <div style="float: right; margin-top: 5%;">
            <button *ngIf="navigation=='1'" class="waves-effect waves-light btn-small btn-flat col s1 stn-flat next control_btn" (click)="next()">
              <span style="color: #1565C0;">NEXT &nbsp;<span class="lnr lnr-arrow-right-circle"></span> </span>
            </button>
            <button *ngIf="navigation=='2' && !subloading" class="waves-effect waves-light btn-small btn-flat col s1 stn-flat-success control_btn submit" (click)="submit()">
              <span style="color: #2a882e;"> UPDATE &nbsp;<span class="lnr lnr-checkmark-circle"></span> </span>
            </button>
            <div class="col s12" style="margin-top: 10px !important;" *ngIf="subloading">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-stanbic-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
          <div style="float: left; margin-top: 5%;">
            <button *ngIf="navigation=='2'" class="waves-effect waves-light btn-small btn-flat col s1 stn-flat previous control_btn" (click)="prev()">
              <span style="color: #1565C0;"><span class="lnr lnr-arrow-left-circle"></span>&nbsp;  BACK </span>
            </button>
        
        
          </div>
        
          
  </div>


    <div class="col s3" style="margin-top:50px; margin-left: -20px !important;">
      
      
        <ul class="collection with-header collection with-header" style="padding: 0px !important;">
          <li class="collection-header center-align"><b>CHECKLIST</b></li>
          <li class="collection-item">
              <div [hidden]="!Loading">
                  <div class="row">
                    <div class="col s12 center-align" style="margin-top: 10vh">
                      <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-stanbic-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div>
                          <div class="gap-patch">
                            <div class="circle"></div>
                          </div>
                          <div class="circle-clipper right">
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                      <p class="help-text">
                        Please wait ... checklist
                      </p>
                    </div>
                  </div>
                </div>
                <div [hidden]="Loading">
                  <div *ngIf="!tracks">
                      <p style="text-align: center">
                        <span class="lnr lnr-warning" style="font-size: 20px; color:#0033a1"></span>
                        No checklist data for this record
                      </p>
                    </div>
                  <div *ngIf="tracks">
                    <table width="100%">
                        <tr style="border-bottom: 1px solid #ccc">
                          <th style="text-align: center; padding: 10px !important;">Status</th>
                          <th style="text-align: center; padding: 10px !important;">Date</th>
                        </tr>
                        <tr *ngFor="let varchecklist of checklist">
                          <td  (click)="update($event,varchecklist.checkDate)" [ngClass]="{'loan_disbursed': varchecklist.status == 'MET', 'loan_reject': varchecklist.status == 'NOT MET'}"  style="text-align: center; cursor:pointer;">
                            <span id="{{varchecklist.id}}" class="lnr lnr-checkmark-circle" *ngIf="varchecklist.status == 'MET'" style="font-size: 20px;"></span>
                            <span  id="{{varchecklist.id}}" class="lnr lnr-cross-circle" *ngIf="varchecklist.status == 'NOT MET'" style="font-size: 20px;"></span>
                          </td>
                          <td style="text-align: center;">{{varchecklist.checkDate | date: 'd-MMM-y'}}</td>            
                        </tr>
                    </table>
                  </div>
                </div>  
          </li>
        </ul>
  
        

        <ul class="collection with-header collection with-header">
            <li class="collection-header">
              <table class="legend">
                <tr style="padding: 0px !important;">
                  <td class="loan_disbursed" style="width: 50%; padding: 0px !important; text-align: center;"><span class="lnr lnr-checkmark-circle" style="font-size: 20px;"></span>&nbsp;&nbsp;
                    Met</td>
                  <td class="loan_reject" style="width: 50%; padding: 0px !important; text-align: center"><span class="lnr lnr-cross-circle" style="font-size: 20px;"></span>&nbsp;&nbsp;
                      Not Met</td>
                </tr>
              </table>
            </li>
        </ul>    
      </div>

</div>


<div class="modal confirmActivateModal" >
  <div class="modal-content">
      <p class="center-align" style="font-size: 28px;">
        <span class="lnr lnr-question-circle"></span>
      </p>
    <div style="margin-top: 30px;">
      <p style="text-align:center; font-size: 15px; color:#000">Do you want to save the changes made to this record?</p>
    </div>

    <div class="center-align" style="margin-top: 30px; text-align: center;">

        <div class="row" >
            <div class="col s4 offset-s2">
                <button type="button" class="btn waves-effect waves-light green darken-3" *ngIf="!loaderd" (click)="submitData()">
                    <i style="color: #ffffff;" class="material-icons">done</i>
                </button>

                <div class="col s12" style="margin-top: 10px !important;" *ngIf="loaderd">
                    <div class="preloader-wrapper small active">
                      <div class="spinner-layer spinner-stanbic-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                          <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          <div class="col s4 offset-s1">
              <button type="button" class="btn waves-effect waves-light red modal-close" *ngIf="!loaderd">
                  <i style="color: #ffffff;" class="material-icons">do_not_disturb</i>
              </button>
          </div>
            
        </div>    
    
      
    </div>
  </div>
</div>



<div class="modal covenant-modal" materialize="modal">
  <div class="modal-content" style="padding-bottom: 10px;">
    <div class="right-align">
      <span class="modal-action modal-close">
        <span class="lnr lnr-cross"></span>
      </span>
    </div>

    <div class="col s12 center-align" style="margin-bottom: 20px;">
      <span class="modal-text-header-comments normal"><span class="lnr lnr-checkmark-circle"></span>COVENANT MET?</span>
    </div>
    <div class="col s12" style="margin-bottom: 30px !important;">
        <label class="select_label docDesp">Covenant Status<span class="required">*</span></label>
        <div class="row">
          <div class="col s6">
            <label>
              <input class="with-gap" name="covStatus" [(ngModel)]="covStatus"  type="radio" id="yes" value="MET" />
              <label for="yes">YES</label>
            </label>
          </div>
          <div class="col s6">
            <label>
              <input class="with-gap" name="covStatus" [(ngModel)]="covStatus"  type="radio" id="no" value="NOT MET"/>
              <label for="no">NO</label>
            </label>

          </div>
      </div>
    <div>
      <span class="label modal-comments-label">AM Comments<span class="required">*</span> </span>
      <div class="input-field col s12">
        <textarea id="comments" name="amComment" [(ngModel)]="trackerObj.trackerInfo.amComment"
          class="form_input_custom materialize-textarea" style="min-height: 7rem" placeholder=" "></textarea>
        <label for="comments" class="helper-modal"></label>
      </div> 

</div>

<div class="modal-footer" style="margin-bottom: 20px;">
    <div class="row center-align">
      <div class="col s12" *ngIf="!modalLoading">
        <a class="btn stanBtn blue darken-3" style="color: #ffffff !important;" (click)="submitTracker()">Submit</a>
      </div>

      <div class="col s12" style="margin-top: 10px !important;" *ngIf="modalLoading">
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-stanbic-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
</div>

</div>



